*{
	box-sizing: border-box;
	user-select: none;
}
*::selection{
	background: none;
}
*::-moz-selection {
  background: none;
}
html,body{
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
	-ms-overflow-style: none;
  	scrollbar-width: none;
  	background-color: black;
}
html::-webkit-scrollbar {
  display: none;
}
h4,p{
	color: white;
}
header{
	/*height: 100%;
	width: 100%;*/
	margin:0;
}
.mode { 
	padding: 1%;
	color: white;
	font-size: 1.3vw;
	text-align: center;
}
.change { 
    cursor: pointer; 
    border: 1px solid #555; 
    border-radius: 40%; 
    width: 20px; 
    text-align: center; 
    padding: 5px; 
    margin-left: 8px; 
} 
.flex-menu{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: flex-start;
}
.menu-left{	
	float: left;
	width: 50%;
	height: 100%;
	transition: transform .2s;
	text-align: center;
}
.menu-rectangle{
	width: 50vw;
	height: 45vh;
	display: flex;
	align-content: center;
	justify-content: center;
	align-items: center;
	border: 5px double white;
	background-color: black;
}
.menu-rectangle:hover{
	transform: scale(1.05);
}
.menu-rectangle a{
	width: 100%;
	display: block;
	font-size: 6vw;
	font-weight: bold;
	text-decoration: none;
	color: white; 
	-webkit-text-fill-color: black;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: white;
}
.menu-rectangle a:hover{
	color: white;
	-webkit-text-fill-color: white;
}
.menu-right{
	width: 50%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}
.menu-square{
	width: 25vw;
	height: 45vh;
	display: flex;
	align-content: center;
	justify-content: center;
	align-items: center;
	border: 5px double white;
	background-color: black;
}
.menu-square:hover{
	transform: scale(1.1);
	z-index: 9;
}
.menu-square a{
	text-align: center;
	width: 100%;
	display: block;
	font-size: 2vw;
	font-weight: bold;
	text-decoration: none;
	color: white; 
	-webkit-text-fill-color: black;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: white;
}
.menu-square a:hover{
	color: white;
	-webkit-text-fill-color: white;
}

.about-wrapper{
	height: 100%;
	padding: 5% 2%;
	text-align: center;
}
.introduction{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}
.about-me{
	padding-left: 4%;
	text-align: left;
	width: 70%;	
	float: left;
}
.heading h1{
	color: white;
	-webkit-text-fill-color: black;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: white;
	font-size: 3vw;
	letter-spacing: 2vw;
	margin-bottom: 5%;
	text-align: center;
}
.about-me h1{
	margin: 0;
	color: white;
	-webkit-text-fill-color: black;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: white;
	font-size: 8vw;
  	text-shadow: 0 0 10px #fff, 0 0 10px #fff, 0 0 10px #fff, 0 0 10px #fff, 0 0 10px #fff, 0 0 10px #fff, 0 0 10px #fff;
}
.about-me p{
	color: white;
	font-size: 1.9vw;
}
.about-me span{
	color: white;
	text-shadow: 0 0 30px white;
	-webkit-text-fill-color: white;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black;
}
.contact-info{
/*	padding-top: 4%;*/
	text-align: left;
	border-right:5px dashed white;
	width: 25%;
}
.info{
	padding: 1% 10%;
	font-size:1.2vw;
	color: white;
}
.fas{
	padding-right: 2%;
}

.education-wrapper{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 100%;
}
.education-wrapper .heading{
	height: 100%;
	width: 20%;
}
.education-wrapper .heading-top{
	display: none;
}
.education-wrapper .heading-top h1{
	margin: 0 auto;
	width: 20%
	color: white;
	-webkit-text-fill-color: black;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: white;
}
.education-wrapper .heading h1{
	margin: 0 auto;
	writing-mode: vertical-rl;
	text-orientation: upright;
  	position: relative;
  	top: 50%;
  	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);
}
.my-education{
	padding:0 5%;
	width: 80%;
	height: 100%;
	display: flex;
	flex-direction:row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	align-content: center;
}
.my-education h1{;
	font-size: 1.6vw;
	color: white;
}
.edu{
	padding: 2%;
	width: 45%;
	height: 45%;
	border: 10px dashed white;
}
.edu strong{
	font-size: 1.5vw;
	background-color: white;
	color: black;
	padding: 1%;
}
.edu b{
	color: black;
	background-color: white;
}

.work-experience-wrapper{
	width: 77%;
	height: 100%;
	padding: 2%;
	margin: 0 auto;
}

.work-experience-wrapper .heading h1{
	color: black;
	-webkit-text-fill-color: black;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: white;
}

.works{
	height: 50%;
	display: flex;
	flex-wrap: wrap;
	color: black;
	justify-content: space-between;
	background-color: white;
}
.work{
	padding: 3%;
	width: 50%;
	border:15px double black;
}
.work p,h2,h3,h4{
	text-align: center;
	color: black;
}

.skill-wrapper{
	height: 100%;
	padding: 5% 2%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.skill-wrapper .heading-left{
	height: 100%;
	width: 10%;
}
.skill-wrapper .heading-left h1{
	margin: auto auto;
	writing-mode: vertical-rl;
	text-orientation: upright;
	font-size: 36px;
	letter-spacing: 2vw;
	text-align: center;

	margin: 0 auto;
  	position: relative;
  	top: 50%;
  	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);

  	color: white;
	-webkit-text-fill-color: black;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: white;
}
.skills{
	border: 10px double white;
	width: 80%;
}
.skill-wrapper .heading-right{
	height: 100%;
	width: 10%;
}
.skill-wrapper .heading-right h1{
	margin: auto auto;
	writing-mode: vertical-rl;
	text-orientation: upright;
	font-size: 36px;
	letter-spacing: 2vw;
	text-align: center;

	margin: 0 auto;
  	position: relative;
  	top: 50%;
  	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);

  	color: white;
	-webkit-text-fill-color: black;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: white;
}
.skills{
	display: flex;
  	flex-direction: row;
  	flex-wrap: wrap;
  	justify-content: center;
  	align-content: center;
}
.skill{
	height: 300px;
  	width: 300px;
  	background-color: white;
  	border-radius: 50%;
  	border: 10px double black;
  	position: relative;
}
.skill p{
	text-align: center;
	color: black;
	font-size: 26px;
	position: absolute;
	top: 40%;
 	left: 47%;
  	transform: translate(-40%, -47%);
}
.skill:hover{
	-webkit-animation: swing 1s ease;
	animation: swing 1s ease;
	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;
}

.contact-wrapper{
	height: 100%;
	width: 50%;
	padding: 5%;
	margin: 0 auto;
}
form{
	margin-top: 45px;
}
form p{
	margin-bottom: 5px;
}
.input-left{
	float: left;
	width: 49%;
}
.input-right{
	float: right;
	width: 49%;	
}
.text input{
	width: 100%;
	padding: 10px 10px;
	margin-bottom: 22px;
}
.btn{
	padding: 14px 14px;
	background-color: black;
	color: white;
}
.txtarea {
	clear: both;
}
textarea{
	clear: both;
	width: 100%;
	height: 137px;
	padding: 10px 10px;
	border: 1px solid #575757;
}
.submit{
	float: right;
	border: 5px double white;
	margin-top: 23px;
	opacity: 0.84;
}
.submit:hover{
	transition: all 1s;
	background-color: rgba(255,255,255, 0.9);
	color: black;
	cursor: pointer;
	border: 5px solid black;
}
.footer-left{
	text-align: center;
	margin: 0 auto;
	width: 80%;
	padding: 2%;
}


@-webkit-keyframes swing
{
    15%{
        -webkit-transform: translateY(5px);
        transform: translateY(5px);
    }
    30%{
        -webkit-transform: translateY(-5px);
       transform: translateY(-5px);
    } 
    50%{
        -webkit-transform: translateY(3px);
        transform: translateY(3px);
    }
    65%{
        -webkit-transform: translateY(-3px);
        transform: translateY(-3px);
    }
    80%{
        -webkit-transform: translateY(2px);
        transform: translateY(2px);
    }
    100%{
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
@keyframes swing
{
    15%{
        -webkit-transform: translateY(5px);
        transform: translateY(5px);
    }
    30%{
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
    }
    50%{
        -webkit-transform: translateY(3px);
        transform: translateY(3px);
    }
    65%{
        -webkit-transform: translateY(-3px);
        transform: translateY(-3px);
    }
    80%{
        -webkit-transform: translateY(2px);
        transform: translateY(2px);
    }
    100%{
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}